{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  <center>
    <div class="container">
      <div class="unslate_co--section" id="journal-section">
        <br style="text-align: center;"><div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider" ><span class="gsap-reveal">My Journal</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>

          
          <div class="row gutter-v4 align-items-stretch">
            <div class="col-sm-6 col-md-6 col-lg-8 blog-post-entry" data-aos="fade-up" data-aos-delay="0">


            </div>
            {% for i in Post_post %}
            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3>{{i.name}}</h3>
                    <p class="post-meta">{{i.info}}</p>
                  </div>
                </div>
                <img src="{{i.image.url}}" class="lazyload" alt="Image" />
              </a>
            </div>
            {% endfor %}


           


          </div>

        </div>
      </div>
    </div>
  </center>
</body>
{% endblock content %}

